# ==========================================
# C5 System .gitignore
# ==========================================

# 1. Archivos multimedia y pruebas de alertas (¡Muy importante!)
media_alerts/*
!media_alerts/.gitkeep

# 2. Archivos temporales de tu sistema
estructura.txt
estructura2.txt
stress_test_mqtt.py

# 3. Node.js (Frontend)
dashboard-alertas/node_modules/
dashboard-alertas/dist/
dashboard-alertas/Readme.md

# 4. Python (Microservicios)
__pycache__/
*.py[cod]
*$py.class
*.log

# 5. Variables de entorno (Seguridad)
.env
.env.local

# 6. Archivos del Sistema Operativo
.DS_Store
Thumbs.db